@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
    color: #4d4d4d;
    transition: .3s;
}

svg {
    margin: 8px;
    fill: #0d0cb5;
    transition: .3s;
}

a:hover,
svg:hover {
    color: #08076d;
    fill: #08076d;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

section {
    display: block;
}

#header-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px;
    border: 1px solid #e9ecef;
}

#header-1 a {
    color: #0d0cb5;
}

#header-1 div span {
    margin-left: 8px;
    font-weight: 600;
}

#header-1 div span a {
    font-weight: 100;
}

#header-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px 80px 24px 100px;
}

#header-2 h1 a {
    color: black;
}

#header-2 ul li {
    padding: 5px 20px;
    color: #4d4d4d;
}

#Services-menu {
    position: relative;
}

#Services-menu:hover #Services-submenu {
    opacity: 1;
    z-index: 99;
}

#Services-menu ul li {
    width: 200px;
    height: 45px;
    padding: 0px;
}

#Services-menu svg {
    position: absolute;
    fill: #4d4d4d;
    margin: 0 0 0 5px;
    top: 50%;
    transform: translateY(-50%);
}

#Services-submenu {
    position: absolute;
    display: block;
    z-index: -99;
    opacity: 0;
    background-color: white;
    box-shadow: 0px 14px 24px -4px rgba(0, 0, 0, 0.1);
    border-top: 2.2px solid #0d0cb5;
    left: 0px;
    top: 30px;
    transition: .2s;
}

#Services-submenu li a {
    display: inline-block;
    padding: 9px 20px;
    width: 200px;
    height: 45px;
    align-items: center;
}

#Services-submenu li:hover {
    background: #f4f5f9;
    color: #25262a;
}

#pagina a {
    color: #0d0cb5;
}

#banner {
    position: relative;
    display: block;
    width: 100%;
    height: 950px;
    color: white;
}

#banner div {
    position: absolute;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    height: 215px;
}

#banner div h1 {
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 500;
}

#banner div p {
    margin-bottom: 48px;
    opacity: 40%;
    font-size: 18px;
    font-weight: 50;
}

#banner div a {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #0d0cb5;
    color: white;
    border-radius: 30px;
    padding: 15px 30px;
}

#banner img {
    position: absolute;
    z-index: -1;
    filter: brightness(60%);
    overflow: hidden;
}

#About {
    position: absolute;
    background-color: black;
    color: white;
    width: 1140px;
    height: 590px;
    padding: 30px;
    margin: 30px;
    left: 50%;
    transform: translate(-50%);
    display: block;
}

#About .container {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 590px;
}

#Image-about div button span svg {
    fill: white;
}

#Image-about div button {
    background-color: #0d0cb5;
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 24px;
}

#Image-about div {
    display: flex;
    margin-bottom: 48px;
}

#Image-about div h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

#Properties-1 {
    margin-left: 92.5px;
    padding: 0 15px 0 15px;
    height: 400px;
}

#Properties-2 {
    padding: 0 15px 0 15px;
    height: 400px;
}

#Properties-1 div {
    width: 255px;
}

#Properties-1 div span svg,
#Properties-2 div span svg {
    height: 30px;
    width: 30px;
    margin: 0;
    fill: white;
}

#Properties-1 div h3,
#Properties-2 div h3 {
    margin-bottom: 9px;
    font-weight: 500;
}

#Properties-1 div h3 span,
#Properties-2 div h3 span {
    vertical-align: middle;
}

#Properties-1 div p,
#Properties-2 div p {
    margin-bottom: 16px;
}

#Objectives {
    position: relative;
    display: block;
    padding: 80px 0;
}

#Objectives div {
    display: flex;
    justify-content: center;
    padding: 16px 31px;
}

#Objectives div div {
    display: flex;
    flex-direction: column;
}

#Objectives div div p {
    width: 310px;
    color: #4d4d4d;
    font-weight: 400;
    text-align: justify;
    line-height: 1.7;
    margin-bottom: 16px;
}

#Objectives div div h2 {
    color: #4d4d4d;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 2em;
}


#Feature-Projects {
    padding: 80px 0;
}

#Start-Section {
    text-align: center;
    margin-bottom: 3em;
}

#Start-Section div h2 {
    position: relative;
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

#Start-Section div h2::after {
    transform: translateX(-50%);
    content: "";
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 3px;
    background: #0d0cb5;
}

#Start-Section div p {
    color: #4d4d4d;
    line-height: 1.7;
    margin-bottom: 16px;
    font-size: 1.25em;
    word-spacing: 2px;
}

#Feature-Projects .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c"
        "d d d";
    justify-items: center;
}

#Feature-Projects .container div {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 400px;
    margin-bottom: 30px;
}

#Feature-Projects .container div a img {
    transition: .3s;
}

#Feature-Projects .container div a:hover img {
    filter: brightness(20%);
    transform: scale(1.05);
}

#Feature-Projects .container div a:hover .Describes {
    opacity: 1;
}

#Feature-Projects .container div a div {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;
}

#Feature-Projects .container div a div {
    height: 75px;
}

#Feature-Projects .container nav {
    margin-top: 48px;
    grid-area: 2 / 1 / 2 / 4;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    text-align: center;
}

#Feature-Projects .container nav a {
    position: relative;
    background-color: #0d0cb5;
    width: 180px;
    height: 50px;
    padding: 15px 30px;
    border-radius: 90px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

#Testimonials h2 {
    position: relative;
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align: center;
}

#Testimonials h2::after {
    transform: translateX(-50%);
    content: "";
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 3px;
    background: #0d0cb5;
}

.container {
    display: grid;
}

.Properties-text {
    font-size: 16px;
    color: #737373;
    line-height: 1.7;
}

.Read-More a {
    color: white;
    text-decoration: underline;
}

.Read-More a:hover {
    text-decoration: none;
}

.First-div {
    margin-bottom: 48px;
}

.Behind-Text {
    position: relative;
    font-size: 8rem;
    z-index: -99;
    font-weight: 900;
    top: 45px;
    left: -90px;
    height: 0px;
    color: #f2f4f5;
}

.void-space {
    display: block;
    width: 100%;
    height: 600px;
    margin-bottom: 48px;
}

.Describes {
    height: 75px;
    font-size: 1.5em;
    color: white;
    opacity: 0;
}

.Describes h2 {
    font-size: 1em;
    font-weight: 500;
}

.Describes span {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    color: #999;
}