@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
    color: #4d4d4d;
    transition: .3s;
}

svg {
    margin: 8px;
    fill: #0d0cb5;
    transition: .3s;
}

a:hover,
svg:hover {
    color: #08076d;
    fill: #08076d;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

main {
    display: block;
    position: relative;
    padding: 80px 0;
}

main .container {
    width: 1140px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

main .container div {
    margin-bottom: 3em;
}

main .container div,
main .container div img {
    width: 350px;
    height: 230px;
    position: relative;
    transition: .3s;
    overflow: hidden;
}

main .container div div {
    position: absolute;
    width: auto;
    height: 55px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .container div:hover {
    cursor: pointer;
}

main .container div:hover img {
    filter: brightness(30%);
    transform: scale(1.05);
}

main .container div:hover div {
    opacity: 1;
}


footer {
    position: relative;
    padding: 8em 0;
    background-color: #333;
}

footer .container {
    grid-template-areas: "a b c d";
    justify-content: space-around;
    width: 1140px;
    height: 250px;
    margin: 0 auto;
}

footer h2 {
    color: white;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 24px;
}

footer p {
    color: #737373;
    line-height: 1.7;
}

footer ul {
    display: block;
}

footer ul li {
    font-weight: 500;
    margin-bottom: 10px;
}

footer ul li a {
    color: #999999;
    transition: .2s;
}

footer ul li a:hover {
    color: white;
}

footer svg {
    fill: #999999;
    margin: 0;
    margin-right: 16px;
    transition: .2s;
}

footer svg:hover {
    fill: white;
}

form {
    display: flex;
    position: relative;
    height: 45px;
}

#header-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px;
    border: 1px solid #e9ecef;
}

#header-1 a {
    color: #0d0cb5;
}

#header-1 div span {
    margin-left: 8px;
    font-weight: 600;
}

#header-1 div span a {
    font-weight: 100;
}

#header-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px 80px 24px 100px;
}

#header-2 h1 a {
    color: black;
}

#header-2 ul li {
    padding: 5px 20px;
    color: #4d4d4d;
}

#Services-menu {
    position: relative;
}

#Services-menu:hover #Services-submenu {
    opacity: 1;
    z-index: 99;
}

#Services-menu ul li {
    width: 200px;
    height: 45px;
    padding: 0px;
}

#Services-menu svg {
    position: absolute;
    fill: #0d0cb5;
    margin: 0 0 0 5px;
    top: 50%;
    transform: translateY(-50%);
}

#Services-menu a {
    color: #0d0cb5;
}

#Services-submenu {
    position: absolute;
    display: block;
    z-index: -99;
    opacity: 0;
    background-color: white;
    box-shadow: 0px 14px 24px -4px rgba(0, 0, 0, 0.1);
    border-top: 2.2px solid #0d0cb5;
    left: 0px;
    top: 30px;
    transition: .2s;
}

#Services-submenu li a {
    display: inline-block;
    padding: 9px 20px;
    width: 200px;
    height: 45px;
    align-items: center;
    color: #4d4d4d;
}

#Services-submenu li:hover {
    background: #f4f5f9;
    color: #25262a;
}

#banner {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    color: white;
    background-image: url(/Assets/imagens/hero_1.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-attachment: fixed;
}

#banner div {
    position: absolute;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    height: 215px;
}

#banner div h1 {
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 500;
}

#banner div p {
    margin-bottom: 48px;
    opacity: 40%;
    font-size: 18px;
    font-weight: 50;
}

#banner div a {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #0d0cb5;
    color: white;
    border-radius: 30px;
    padding: 15px 30px;
}

#Skills-Section {
    display: block;
    padding: 80px 0;
    border-bottom: 1px solid #dee2e6;
}

#Skills-Section .container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    margin: 0 auto;
}

#Objectives {
    display: block;
    padding: 80px 0;
    border-bottom: 1px solid #dee2e6;
}

#Objectives .container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    margin: 0 auto;
}

#Objectives .container div {
    margin-bottom: 24px;
}

#Objectives div div {
    display: flex;
    flex-direction: column;
}

#Objectives div div p {
    width: 310px;
    color: #4d4d4d;
    font-weight: 400;
    text-align: justify;
    line-height: 1.7;
    margin-bottom: 16px;
}

#Objectives div div h2 {
    color: #4d4d4d;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 2em;
}


#Testimonials {
    display: block;
    height: 600px;
    padding: 80px 0;
}

#Testimonials h2 {
    position: relative;
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align: center;
}

#Testimonials h2::after {
    transform: translateX(-50%);
    content: "";
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 3px;
    background: #0d0cb5;
}

#Testimonials div {
    position: relative;
    width: 800px;
    height: 160px;
    left: 50%;
    transform: translateX(-50%);
}

#Testimonials div p {
    text-align: center;
    font-size: 24px;
    color: #4d4d4d;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 3em;
    line-height: 1.7;
}

#Testimonials .Mini-Profile p {
    font-size: 16px;
    margin: 16px 0 16px 0;
    height: 30px;
}

#Testimonials .Mini-Profile {
    width: auto;
    height: 75px;
}

#Made {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding-top: 3em;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

#Made p a {
    color: #bfbfbf;
    transition: .3s;
}

#Made p a:hover {
    color: white;
}

#Input-Email {
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #6c757d;
    color: #6c757d;
}

#Input-Send {
    height: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    position: absolute;
    left: 90%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0px;
    background-color: #0d0cb5;
    color: white;
}

.container {
    display: grid;
}

.Skills {
    display: flex;
    margin-bottom: 24px;
}

.Skills p {
    margin-bottom: 16px;
    line-height: 1.7;
    font-size: 1em;
    color: #4d4d4d;
}

.Skills h3 {
    margin-bottom: 8px;
    font-size: 20px;
    color: #4d4d4d;
    font-weight: 500;
}

.Skills a {
    color: #0d0cb5;
}

.Skills svg {
    width: 48px;
    height: 48px;
    margin: 0 1.5em 0 0;
}

.Behind-Text {
    position: relative;
    font-size: 7.5rem;
    z-index: -99;
    font-weight: 900;
    top: -25px;
    left: -60px;
    height: 0px;
    color: #f2f4f5;
}

.Mini-Profile {
    display: flex;
    justify-content: center;
}

.Mini-Profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 25px 16px;
}